@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

/* Fonts */

/* Structural CSS */

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Nunito, sans-serif;
    font-weight: 400;
    color: #d9d9d9;
    background-color: #1a1a1a;
}

/* Navigation & Logo Style */

#logo-style {
    float: left;
    font-size: 380%;
    list-style-type: none;
    margin: 25px;
    line-height: 35px;
}

#logo-style a {
    text-decoration: none;
    color: #8B008B;
}

#nav-style {
    float: right;
    text-transform: uppercase;
    letter-spacing: 5px;
    list-style-type: none;
    margin: 30px;
    text-decoration: none;
    line-height: 35px;
    display: flex;
    flex-direction: row;
}

li {
    display: inline;
    padding: 10px 10px;
}

#nav-style a {
    text-decoration: none;
    color: inherit;
}